$font-color: #ffffff;
$time-color: #4a4a4a;
$descr-color: #a0b0b9;

a {
    text-decoration: none;
}

@font-face {
    font-family: "Rubik";
    font-weight: normal;
    font-style: normal;
    src: url("/assets/Rubik-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-Light";
    font-weight: normal;
    font-style: normal;
    src: url("/assets/Rubik-Light.ttf") format("truetype");
}

%font {
    font-family: "Rubik";
    color: $font-color;
}

%font-light {
    font-family: "Rubik-Light";
    color: $font-color;
}

h1 {
    @extend %font;
    font-size: 2.25rem;
    cursor: default;
}

.current-user, .about {
    @extend %font;
    font-size: 1.25rem;
    color: #2196f3;
}

.about:hover, .current-user:hover {
    color: $font-color;
    border: 1px solid $font-color;
    background: #2196f3;
}

label {
    @extend %font-light;
    font-size: 1rem;
    text-transform: uppercase;
}

input {
    @extend %font-light;
    color: #000000;
    font-size: 1.25rem;
}

input::-webkit-input-placeholder {
    @extend %font-light;
    color: #c4c4c4;
    font-size: 1.25rem;
}

.button, button {
    @extend %font;
    font-size: 1.5rem;
}

.auth__block_userLogging {
    h2 {
        @extend %font;
        font-weight: normal;
        color: $font-color;
    }
}

.flight {
    font-family: 'Open Sans';
}

.tickets__buy {
    &_block {
        font-family: 'Open Sans';
        .arrival, .departure {
            &__time {
                font-size: 2rem;
                color: $time-color;
            }
            &__city {
                font-size: 0.8rem;
                color: $descr-color;
            }
        }
        .overall-time {
            font-size: 0.8rem;
            color: $descr-color; 
        }
    }
    &_price {
        color: $font-color;
        font-size: 1rem;
    }
}

.purchase {
    &__amount {
        &_label {
            font-size: 1.2rem;
            color: $time-color;
        }
        &_current-amount::selection {
            background: #fff;
        }
    }
    &__type {
        label {
            font-family: 'Open Sans';
            color: $time-color;
            text-transform: capitalize;
        }
    }
}

.availableSeats {
    font-family: 'Open Sans';
    color: $time-color;
    &__header {
        font-size: 1.2rem;
    }
}

footer {
    font-family: "Rubik";
    color: $font-color;
}

:focus::-webkit-input-placeholder {opacity:0;}